.mega-menu {
  position: static;
}

.mega-menu__content {
  background-color: rgb(var(--color-background));
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  left: 0;
  overflow-y: auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: absolute;
  right: 0;
  /*top: 100%;*/
  top: 100%;
  display: flex;
  /*justify-content: space-between;*/
  justify-content: center;
  z-index: 1;
  
  margin-top: -30px;
  padding-top: 36px;
}

.mega-menu__content .header_container .promo_button {
  text-decoration: none;
  margin: 50px 50px 0;
  display: block;
  width: 200px;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.mega-menu__content .header_container .promo_button:hover {
  opacity: 0.7;
}

.mega-menu__content .header_container.promo_content {
  padding: 0 50px;
  min-height: 400px;
}

.mega-menu__content .header_container.promo_content img {
  width: 100%;
  height: 100%;
  max-width: 240px;
  max-height: 87%;
  object-fit: cover;
}

.mega-menu__content .header_container.promo_content a {
  font: normal normal 600 15px/19px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  text-decoration: none;
}

.mega-menu__content .header_container.promo_content a p {
  margin: 0;
}
.mega-menu__content .header_container.promo_content a svg{
  width: 40px;
  height: 20px;
  position: absolute;
}

.mega-menu__content .header_container.promo_content a:hover p {
  opacity: 0.7;
}

.mega-menu__content .header_container.promo_content a p.linkC {
  background: url('data:image/svg+xml,<%3Fxml version="1.0" %3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="160,115.4 180.7,96 352,256 180.7,416 160,396.7 310.5,256 "/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 20%;
  display: block;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__list {
  /*display: grid;
  gap: 1.8rem 4rem;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-columns: repeat(4,minmax(0,1fr));*/
  display: flex;
  gap: 1.8rem 14rem;
  list-style: none;
}

.mega-menu__link {
  color: rgba(var(--color-foreground), 0.75);
  display: block;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  text-decoration: none;
  transition: text-decoration var(--duration-short) ease;
  word-wrap: break-word;
  font: 500 14px/18px Montserrat;
}

.mega-menu__link--level-2 {
  font-weight: bold;
  font: 700 14px/18px Montserrat;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
}

.header--top-center .mega-menu__list>li {
  width: 16%;
  padding-right: 2.4rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
}

.mega-menu .mega-menu__list--condensed {
  display: block;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}