volume-pricing {
  display: block;
  margin-top: 2rem;
}

volume-pricing li:nth-child(odd) {
  background: rgba(var(--color-foreground), 0.04);
}

volume-pricing ul {
  margin-top: 1.2rem;
}

volume-pricing li {
  font-size: 1.4rem;
  letter-spacing: 0.06rem;
  padding: 0.6rem 0.8rem;
  display: flex;
  justify-content: space-between;
}

.volume-pricing-note {
  margin-top: -2.6rem;
}

.product--no-media .volume-pricing-note {
  text-align: center;
}

.product--no-media volume-pricing {
  width: 30rem;
}

.volume-pricing-note span,
volume-pricing .label-show-more {
  font-size: 1.2rem;
  letter-spacing: 0.07rem;
}

volume-pricing show-more-button {
  margin-top: 0.8rem;
}

.product-form__input price-per-item,
.price-per-item__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-form__input .price-per-item {
  color: rgba(var(--color-foreground));
  font-size: 1.4rem;
  letter-spacing: 0.06rem;
}

.price-per-item dl {
  margin: 0;
}

.price-per-item dd {
  margin-left: 0;
}

.price-per-item__container .variant-item__old-price,
.price__regular .variant-item__old-price {
  color: rgba(var(--color-foreground), 0.75);
  font-size: 1.2rem;
  letter-spacing: 0.07rem;
}

.badge-discount {
  background-color: #000000;
  position: absolute;
  z-index: 100;
  padding: 5px;
  color: #fff;
  font: normal normal bold 18px/27px Poppins;
  letter-spacing: 0px;
  border-radius: 4px;
  top: 12.5px;
  left: 10px;
  width: 67px;
  text-align: center;
  height: 27px;
  line-height: 1;
}
@media screen and (max-width: 750px){
  .badge-discount{
    line-height: 29px;
  }
}
